:root {
  --blue: #0E1238;
  --purple: #250a1c;
  --sans: "Roboto", sans-serif;
  --serif: "Lora", serif;

  --space-unit: 1rem;
  --space-xs: calc(var(--space-unit) * 0.25);
  --space-sm: calc(var(--space-unit) * 0.5);
  --space-md: calc(var(--space-unit) * 1);
  --space-lg: calc(var(--space-unit) * 1.5);
  --space-xl: calc(var(--space-unit) * 2);
  --space-xxl: calc(var(--space-unit) * 3);
}

img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

.picture {
  max-width: 100%;
  margin: var(--space-xl) auto;
}

html {
  font-size: 18px;
}

body {
  font-family: var(--sans);
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.site-title {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  font-optical-sizing: auto;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: var(--blue);
  display: block;
  text-decoration: none;
  cursor: pointer;
}

.site-title:hover {
  opacity: 0.8;
}

.introWrapper {
  background-color: #b0a4ac;
  border-radius: 8px 8px;
  padding: var(--space-xl);
  padding-top: var(--space-lg);
  padding-bottom: var(--space-xl);
}

h1 {
  background-color: #b0a4ac;
  font-family: var(--serif);
  font-size: 60px;
  font-optical-sizing: auto;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  color: var(--purple);
}

.intro {
  padding-bottom: var(--space-xl);
  font-family: var(--sans);
  font-size: 30px;
  font-optical-sizing: auto;
  text-align: center;
  margin: 0 auto var(--space-md);
  max-width: 900px;
  font-weight: 600;
  color: var(--purple)
}


p {
  font-family: var(--sans);
  font-size: 20px;
  font-optical-sizing: auto;
  text-align: left;
  margin: 0 auto var(--space-md);
  max-width: 1000px;
  font-weight: 500;
  letter-spacing: -.5px;
  color: var(--purple);
}

/* --------------------
Resposive Video
 --------------------*/
.videoWrapper {
  position: relative;
  padding-top: var(--space-md);
  height: 0;
  clear: both;
  background-color: #b0a4ac;
  width: 100%;
  margin: 0 0 0;

}

/* 16:9 aspect ratio wrapper */
.videoWrapper.ratio-16-9 {
  padding-bottom: 56.25%;
  /* 9 รท 16 = .5625 which is 56.25% */
}

/* 4:3 aspect ratio wrapper */
.videoWrapper.ratio-4-3 {
  padding-bottom: 75%;
  /* 3 รท 4 = .75 which is 75% */
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gridWrapper {
  background-color: #9F8F99;
  border-radius: 0 0 8px 8px;
  padding: var(--space-xl);
  padding-top: var(--space-sm);
}

h2 {
  font-family: var(--serif);
  font-size: 60px;
  font-optical-sizing: auto;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  color: var(--purple);
  margin-bottom: var(--space-lg)
}

.landmarks-grid {
  display: grid;
  grid-gap: var(--space-md);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.landmark {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  background-color: #b9aeb5;
}

.figure {
  position: relative;
}

.figcaption {
  position: absolute;
  right: 5px;
  bottom: -30px;
  padding: var(--space-xs);
  border-radius: 8px;
  background-color: var(--blue);
  opacity: .85;
  font-family: var(--serif);
  font-size: 12px;
  font-weight: 500;
}

.figcaption a {
  text-decoration: none;
}

.figcaption a:link,
.figcaption a:visited {
  color: #f9f9f9;
}

.figcaption a:hover {
  color: #b9aeb5;

}

h3 {
  font-family: var(--sans);
  font-size: 15px;
  font-optical-sizing: auto;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
}

.card-button {
  display: inline-block;
  color: #19183B;
  background: #E7F2EF;
  padding: var(--space-sm) var(--space-md);
  font-family: var(--sans);
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}

.card-button:hover {
  color: #E7F2EF;
  background: var(--blue);

}

.footer {
  font-family: var(--serif);
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: var(--blue);
  padding: var(--space-md) 0;
}

@media (max-width: 600px) {
  html {
    font-size: 16px;
  }

  .site-title {
    font-size: 48px;
    margin: var(--space-md) 0;
  }

  h1,
  h2 {
    font-size: 32px;
  }

  .landmarks-grid {
    grid-template-columns: 1fr;
    grid-gap: var(--space-md);
  }

  h3 {
    font-size: 14px;
  }

}

@media (min-width: 1024px) {
  main {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.landmark-page .intro {
  background-color: #b0a4ac;
  border-radius: 8px 8px 0 0;
  padding: var(--space-xl);
  padding-top: var(--space-lg);
  padding-bottom: var(--space-xs);
  max-width: 1200px;
  margin: 0 auto;

}

.about {
  background-color: #b0a4ac;
  padding: var(--space-xl);
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xl);
  max-width: 1200px;
  margin: 0 auto;
}

.about a[href*="denoswonderwheel"] {
  color: var(--purple);

}

.about a[href*="denoswonderwheel"]:link,
.about a[href*="denoswonderwheel"]:visited {
  color: var(--purple);
}

.about a[href*="denoswonderwheel"]:hover {
  color: #19183B;
}

.about h3 {
  font-family: var(--serif);
  font-size: 40px;
  font-optical-sizing: auto;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  color: var(--purple);
  margin: 0 auto var(--space-md);
  max-width: 1000px;
  padding: 0
}

.about ul {
  list-style: none;
  padding: 0;
  text-align: left;
  margin: 0 auto var(--space-md);
  max-width: 1000px;
}

.about ul li {
  margin-bottom: .10rem;
  display: block;
}

.about ul li a {
  display: block;
  padding: var(--space-sm) var(--space-md);
  background-color: var(--blue);
  color: #f9f9f9;
  font-family: var(--sans);
  font-size: 16px;
  text-decoration: none;
  border-radius: 8px;
  text-align: center;
}

.about ul li a:hover {
  background-color: #f9f9f9;
  color: var(--purple);
}

.landmark-page .hero {
  position: relative;
  margin-bottom: 0;
}

.landmark-page .hero figcaption {
  position: absolute;
  right: 5px;
  bottom: 8px;
  padding: var(--space-xs);
  border-radius: 8px;
  background-color: var(--blue);
  font-family: var(--serif);
  font-size: 16px;
  font-weight: 500;
}

.landmark-page .hero a {
  text-decoration: none;
}

.landmark-page .hero a:link,
.landmark-page .hero a:visited {
  color: #f9f9f9;
}

.landmark-page .hero a:hover {
  color: #b9aeb5;
}

.images-grid {
  margin-top: var(--space-xl);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: var(--space-md);
}

.wheels {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.wheels figure {
  position: relative;
  margin: 0;
}

.wheels img {
  width: 100%;
  height: auto;
  display: block;
}

.wheels figcaption {
  position: absolute;
  right: 8px;
  bottom: 8px;
  background: var(--blue);
  color: #f9f9f9;
  padding: 6px 10px;
  border-radius: 8px;
  font-family: var(--serif);
  font-size: 12px;
  font-weight: 500;
}

.wheels figcaption a {
  color: #f9f9f9;
  text-decoration: none;
}

.wheels figcaption a:hover {
  color: #b9aeb5;
}

#pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--space-xs) 0;
  background-color: #b0a4ac;
  border-radius: 0 0 8px 8px;
  padding: var(--space-md);
  margin: 0;
}

#pagination a {
  color: var(--purple);

}

#pagination a:link,
#pagination a:visited {
  color: var(--purple);
}

#pagination a:hover {
  color: #19183B;
}